
body, h1, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color:purple;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    background:orange;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}


.task-input {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#taskInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#addTaskButton {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

#addTaskButton:hover {
    background-color: #0056b3;
}


ul {
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li.completed {
    text-decoration: line-through;
    color: #aaa;
}

button.remove-button {
    border: none;
    background-color: #dc3545;
    color: #fff;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

button.remove-button:hover {
    background-color: #c82333;
}
